*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background: rgb(224, 224, 198);
}

form{
    background: green   ;
    width: 300px;
    margin: 200px auto;
    border-radius: 10px;

}

form > input{
    margin: 12px 30px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}